<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>

<body>
<header th:replace="fragments/header"></header>

<section class="container" xmlns:th="http://www.thymeleaf.org"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="game-list">

        <div class="game" th:each="game: ${games}">
            <div class="img-container">
                <img th:src="${game.image}">
            </div>

            <div class="info">
                <p th:text="${game.title}"></p>
                <p th:text="${game.platform}"></p>
                <p th:text="${game.year}"></p>
                <p th:text="${game.category}"></p>
                <span>PEGI </span><span th:text="${game.pegi}"></span> </br>
                <span th:text="${game.price}"></span><span>€</span>

            </div>


            <div class="buttons">
                <button class="btn btn-success btn-sm" sec:authorize="isAuthenticated()"><a
                        th:href="'/games/'+${game.id}+'/edit'">Edit</a></button>
                <button class="btn btn-success btn-sm" sec:authorize="isAuthenticated()"><a
                        th:href="'/games/'+${game.id}+'/delete'">Delete</a></button>

            </div>
        </div>
    </div>

</section>
<footer th:replace="fragments/footer"></footer>

</body>
